<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>
    <!-- StreamNoti Settings -->
    <add key="Mailboxes" value="11111;222;333;444;555;" />
    <add key="TenantId" value="6fa75e6f-8a8b-4b10-8a3b-99d22acbb04e" />
    <add key="AppId" value="10066649-01cf-4a49-8956-c3b8622c69f3" />
    <add key="Secret" value="COv7Q~-hafEivi8CNyBC_WhwFZ5lPe9n5k5C3" />
  </appSettings>

  <log4net>
    <!-- Console Logging -->
    <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] %logger{1} %username - %message%newline" />
      </layout>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow, HighIntensity" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
    </appender>

    <!-- File Logging -->
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="./logs/log.log" />
      <rollingStyle value="Date" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] %logger{1} - %message%newline" />
      </layout>
    </appender>

    <!-- File Logging - Trace -->
    <appender name="StreamNotiTraceListenerAppender" type="log4net.Appender.RollingFileAppender">
      <file value="./logs/trace.log" />
      <rollingStyle value="Date" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] %logger{1} - %message%newline" />
      </layout>
    </appender>

    <!-- Logging Level -->
    <root>
      <level value="INFO" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingFile" />
    </root>

    <logger name="StreamNotiTraceListener" additivity="false">
      <level value="INFO"/>
      <appender-ref ref="StreamNotiTraceListenerAppender"/>
    </logger>

  </log4net>
</configuration>